.title {
    text-align: center;
}

.pIncard {
    width: 230px;
    height: 100px;
    font-size: small;
    position: absolute;
    top: 410px;
}

#img {
    position: absolute;
    top: 10px;
    border-radius: 8px;
    width: 260px;
    height: 390px;
}

.search {
    text-align: center;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search input {
    margin-left: 10px;
}

.search>button {
    margin-left: 10px;
}

.cardArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    display: inline-flex;
    border: 1px solid black;
    width: 280px;
    height: 780px;
    margin: 0px 150px 35px 150px;
    border-radius: 8px;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

#movieTitle {
    margin-top: 0px;
    font-weight: bold;
    font-size: 17px;
}

#movieOvervie {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 15px;
    line-height: 15.5px;
}

#vote_average {
    margin-top: 0px;
    font-size: 15px;
}